body{
    background-color: #ECEFF1;
    font-family: Roboto;
}
/*Main Navigation Bar*/
#mainMenu {
    background-color: #263238;
    overflow: hidden;
    font-size: larger;   
    padding-right: 1.7em; 
    font-family: Roboto;
}
#mainMenu ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0.15em;
}
#mainMenu li {
    display: inline-block;
}
#mainMenu li a{
    display: inline-block;
    padding: 0.1em 0.3em;
    margin-right: 1em;
    color: #00BFFF;
}
#mainMenu li a:hover {
    color: white;
    background-color:  #FF3D00;
    text-decoration: none;
}
/*Header Bar*/
h1{
    background-image: url(images/header-background.png);
    background-repeat: repeat;
    margin: 0;
    padding-left: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: Roboto;
    color: white;
}
span{
    color: #FF3D00;
}
/*Navigation Bar*/
#secondaryMenu{
    background-color: #607D8B;
    overflow: hidden;
    font-size: larger;   
    padding-left: 2.8em;
    font-family: Roboto;
}
#secondaryMenu ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0.15em;
}
#secondaryMenu li {
    display: inline-block;
}
#secondaryMenu li a{
    display: inline-block;
    padding: 0.1em 0.3em;
    margin-right: 1em;
    color: #00BFFF;
}
#secondaryMenu li a:hover {
    color: white;
    background-color:  #FF3D00;
    text-decoration: none;
}
/*Article Menu*/
article{
    margin: 4%;
}
div, section{
    background-color: white;
}
section{
    border: 0.15em solid #263238;
    margin: 1.5%;
}
.pictorial{
    text-align: center;
    padding-top: 1.7em;
    margin: 1.5%;
}
.pictorial img{
    padding: 0.34em;
    border: 1pt solid lightgray;
}
h2 {
    margin: 0%;
    padding: 0%;
}
/*Sections*/
h3{
    background-image: url(images/header-background.png);
    background-repeat: repeat;
    padding: 0.8em;
    color: white;
    margin-top: 0;
    font-size: x-large;
}
p{
    padding: 0em 0.6em 0em 0.6em;
}
em{
    color: grey;
}
.actions{
    background-color: #607D8B;
    overflow: hidden;
    font-size: larger;   
    padding-left: 2.8em;
    font-family: Roboto;
    padding: 1em;
}
.actions ul {
    list-style-type: none;
    float:left;
    margin: 0;
    padding: 0.15em;
}
.actions li {
    display: inline-block;
    background-color: #FF3D00;
    padding: 0.2em;
    border-radius: 0.27em;
}
.actions li a{
    display: inline-block;
    padding: 0.1em 0.3em;
    color: white;
    margin-right: 1em;
}
.actions li a:hover {
    color: black;
    background-color:  white;
    text-decoration: none; 
    height: 100%;
    width: 67%;   
}
li a[href^="#Edit"] {
    background: url(images/edit.png) no-repeat 0 1.1px;
    padding-left: 1em;
}  
li a[href^="#Flag"] {
    background: url(images/flag.png) no-repeat 0 1.1px;
    padding-left: 1em;
}  
.fig-chart img{
    width: 100%;
    text-align: center;
}
a[href^="mailto"] {
    background: url(images/email.png) no-repeat 0 3px;
    padding-left: 1.4em;
}
a[href^="tel"] {
    background: url(images/call.png) no-repeat 0 3px;
    padding-left: 1.4em;
}
h4{
    font-weight: normal;
}
/*Footer Menu*/
footer{
    background-color: #263238;
    padding-left: 3.7em; 
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    line-height: 0%;
}
footer a{
    color: #00BFFF;
}
footer a:hover {
    color: #ECEFF1;
    background-color:  #FF3D00;
    text-decoration: none;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
#copyright {
    font-style: italic;
    margin-top: 1.5%;
    padding-top: 0%;
}